<p id="notice"><%= notice %></p>

<h1>Listing Player Statuses</h1>

<table>
  <thead>
    <tr>
      <th>Player</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @player_statuses.each do |player_status| %>
      <tr>
        <td><%= player_status.player_id %></td>
        <td><%= player_status.status_id %></td>
        <td><%= link_to 'Show', player_status %></td>
        <td><%= link_to 'Edit', edit_player_status_path(player_status) %></td>
        <td><%= link_to 'Destroy', player_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player status', new_player_status_path %>
