<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @manager.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @manager.last_name %>
</p>

<p>
  <strong>Team:</strong>
  <%= @manager.team_id %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @manager.notes %>
</p>

<p>
  <strong>Active:</strong>
  <%= @manager.active %>
</p>

<%= link_to 'Edit', edit_manager_path(@manager) %> |
<%= link_to 'Back', managers_path %>
